<!--<div>-->
<!--  <button (click)="navigateTo('patients')">Patients</button>-->
<!--  <button (click)="navigateTo('physicians')">Physicians</button>-->
<!--</div>-->
<div class="row justify-content-center">
  <div class="col-md-6">
    <button class="btn btn-primary me-2" (click)="navigateTo('patients')">Patients</button>
    <button class="btn btn-primary" (click)="navigateTo('physicians')">Physicians</button>
    <button class="btn btn-primary" (click)="logout()">logout</button>
  </div>
</div>

<router-outlet></router-outlet>

