
<!-- view-patient.component.html -->

<!--<div class="container">-->
<!--  <h3>List of Patients</h3>-->
<!--  <ul>-->
<!--    <li *ngFor="let patient of patients">-->
<!--      {{ patient.name }} - {{ patient.ssn }} &lt;!&ndash; Display other patient details as needed &ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div class="container mt-4">
  <h2>View Patients</h2>
  <div class="row mb-3">
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="selectedFilter">
        <option value="pcp">Filter by PCP</option>
        <option value="ssnAndPcp">Filter by SSN & PCP</option>
        <option value="insuranceBySSN">Filter Insurance by SSN</option>
      </select>
    </div>
    <div class="col-md-4" *ngIf="selectedFilter === 'pcp' || selectedFilter === 'ssnAndPcp'">
      <input type="text" class="form-control" [(ngModel)]="pcpFilter" placeholder="Enter PCP" />
    </div>
    <div class="col-md-4" *ngIf="selectedFilter === 'ssnAndPcp'">
      <input type="text" class="form-control" [(ngModel)]="ssnAndPcpFilter" placeholder="Enter SSN" />
    </div>
    <div class="col-md-4" *ngIf="selectedFilter === 'insuranceBySSN'">
      <input type="text" class="form-control" [(ngModel)]="insuranceBySSNFilter" placeholder="Enter SSN for Insurance" />
    </div>
<!--    <div class="col-md-4">-->
<!--      <button class="btn btn-primary" (click)="filterPatients()">Filter</button>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <button class="btn btn-primary" (click)="resetFilter()">Clear Filter</button>-->
<!--    </div>-->
  </div>
  <div class="row mb-3">
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="filterPatients()">Filter</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="resetFilter()">Clear Filter</button>
  </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>SSN</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Insurance ID</th>
      <th>PCP</th>
      <th>Actions</th>
      <!-- Additional table headers for more patient details -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.ssn }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.phone }}</td>
      <td>{{ patient.insuranceid }}</td>
      <td>{{ patient.pcp }}</td>
      <td>
        <button class="btn btn-primary" (click)="editPatient(patient)">Edit</button>
      </td>
      <!-- Additional table cells for more patient details -->
    </tr>
    </tbody>
  </table>
</div>

